
*{padding: 0; margin: 0;border:0;}
a img,body,button,dd,div,dl,dt,form,h1,h2,h3,h4,h5,h6,html,img,input,li,menu,ol,p,textarea,ul{padding:0;margin:0;border:0;}
body{color:#fff;font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;background-image:url(../images/bg.jpg);background-repeat: no-repeat;background-color: #000;background-size:cover; }
li, ol, ul { list-style: none }
.c { margin: 0 auto }
.elli {overflow: hidden }
b, em, h1, h2, h3, h4, h5, h6, i {
	font-size: 1em;
	font-weight: 400;
	font-style: normal
}
a { text-decoration: none;color: #000;}
.f_l { float: left; display: inline }
.f_r { float: right; display: inline }
.f_n { float: none !important }
.t_c { text-align: center }
.t_l { text-align: left }
.t_r { text-align: right }
.m0 { margin: 0 !important }
.mt5 { margin-top: 5px !important }
.mt10 { margin-top: 10px !important }
.mt15 { margin-top: 15px !important }
.mt20 { margin-top: 20px !important }
.mt30 { margin-top: 30px !important }
.mt50 { margin-top: 50px !important }
.mb10 { margin-bottom: 10px !important }
.mb20 { margin-bottom: 20px !important }
.mb60 { margin-bottom: 60px !important }
.clear{clear: both}
img{width: 100%;}
@-webkit-keyframes flash {
    0% {
        background: #fe3354;
        opacity:1;
    }
    10% {
        background:url(../images/bg.jpg) no-repeat cover;
    }
    20% {
        background: #abdb3a;
    }
      30% {
        background: #fe3354;
        /*opacity:1;*/
    }
    40% {
        background:url(../images/bg.jpg) no-repeat cover;
    }
    50% {
        background: #abdb3a;
    }
      60% {
        background: #fe3354;
        /*opacity:1;*/
    }
    70% {
        background:url(../images/bg.jpg) no-repeat cover;
    }
    80% {
        background: #abdb3a;
    }
    100% {
        background:url(../images/bg.jpg) no-repeat cover;
    }
}

.flash {
    -webkit-animation-name: flash;
    -webkit-animation-duration: 1000ms;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
}
.over{
    padding: 0 15px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
header{margin-top: 120px;}
header h1{font-family: 方正姚体;font-size: 80px;margin: 30px 0;}
header h3{font-size: 38px;font-weight: lighter;letter-spacing:5px}
header p{display: inline-block;border:1px solid #fff;font-size:26px;padding: 10px;font-weight: lighter;}
.btn{width:565px;height: 490px;margin:0 auto 15px ; position: relative;}
.btn a{position: absolute;width: 200px;height: 200px;top: 190px;left: 170px;}
.alertShow,.alertShow2{ position: absolute; top: 500px;left: 17%;width: 500px;height: 250px;border-radius: 15px;background-color:#7a28bc;opacity: 0.8;text-align: center;margin: 0 auto;font-size: 30px;}
.alertShow p,.alertShow2 p{line-height: 50px;}
footer{font-size: 26px;padding:0 100px;font-weight: lighter;position: absolute;bottom:190px;left: 0;}
.back_btn{font-size: 34px;text-align: center;width: 340px;height: 100px;line-height: 100px;border:1px solid #fff;border-radius: 50px; position: absolute;bottom: 20%;left: 205px;}
.norun{
     background: url("../images/btn01.png") no-repeat; 
     width:540px;
     height:540px;
}

 @keyframes run{
    0% {background-position:-540px -0;}
    6.66%{background-position: -3780px -0;}
    13.33%{background-position:-1080px -0;}
    20%{background-position:-1620px -0;}
    26.66%{background-position: -2160px -0;}
    33.33% {background-position:-2700px -0;}
    40%{background-position:-3240px -0;}
    46.66%{background-position:-0px -0px;}
    53.33%{background-position:-4320px -0;}
    60%{background-position:-4860px -0;}
    66.66% {background-position:-5400px -0;}
    73.33%{background-position:-5940px -0;}
    80%{background-position:-6480px -0}
    86.66%{background-position:-7020px -0;}
    93.33%{background-position: -7560px -0;}
    100%{background-position: -7560px -0;}
 }
@-moz-keyframes run{
    0% {background-position:-540px -0;}
    6.66%{background-position: -3780px -0;}
    13.33%{background-position:-1080px -0;}
    20%{background-position:-1620px -0;}
    26.66%{background-position: -2160px -0;}
    33.33% {background-position:-2700px -0;}
    40%{background-position:-3240px -0;}
    46.66%{background-position:-0px -0px;}
    53.33%{background-position:-4320px -0;}
    60%{background-position:-4860px -0;}
    66.66% {background-position:-5400px -0;}
    73.33%{background-position:-5940px -0;}
    80%{background-position:-6480px -0}
    86.66%{background-position:-7020px -0;}
    93.33%{background-position: -7560px -0;}
    100%{background-position: -7560px -0;}
 }
@-webkit-keyframes run{
    0% {background-position:-540px -0;}
    6.66%{background-position: -3780px -0;}
    13.33%{background-position:-1080px -0;}
    20%{background-position:-1620px -0;}
    26.66%{background-position: -2160px -0;}
    33.33% {background-position:-2700px -0;}
    40%{background-position:-3240px -0;}
    46.66%{background-position:-0px -0px;}
    53.33%{background-position:-4320px -0;}
    60%{background-position:-4860px -0;}
    66.66% {background-position:-5400px -0;}
    73.33%{background-position:-5940px -0;}
    80%{background-position:-6480px -0}
    86.66%{background-position:-7020px -0;}
    93.33%{background-position: -7560px -0;}
    100%{background-position: -7560px -0;}
 }
@-o-keyframes run{
    0% {background-position:-540px -0;}
    6.66%{background-position: -3780px -0;}
    13.33%{background-position:-1080px -0;}
    20%{background-position:-1620px -0;}
    26.66%{background-position: -2160px -0;}
    33.33% {background-position:-2700px -0;}
    40%{background-position:-3240px -0;}
    46.66%{background-position:-0px -0px;}
    53.33%{background-position:-4320px -0;}
    60%{background-position:-4860px -0;}
    66.66% {background-position:-5400px -0;}
    73.33%{background-position:-5940px -0;}
    80%{background-position:-6480px -0}
    86.66%{background-position:-7020px -0;}
    93.33%{background-position: -7560px -0;}
    100%{background-position: -7560px -0;}
 }
   
.btnRun{
            width:540px;
            height:540px;
             background: url("../images/btnsprites.png") ;
            animation:run 1.2s steps(1, end) 1;
             -webkit-animation:run 1.2s steps(1, end) 1;
         }
